{% extends 'base.html'%}
{% block title %} Lista de Tarefas {% endblock%}
{% block content%}
    <form action="{% url 'minha_sim' %}" method="GET">
    {% csrf_token %}
    <center >
        <div style="text-align-last: center;">
            <div>Valor </div>
            <div style="margin-bottom: 20px;text-align: center;">{{dadossimulacao.valor}}</div> 
            <div>Nº de parcelas </div>
            <div style="margin-bottom: 20px;">{{dadossimulacao.divisao}}</div> 
            <div >Anos de carência </div>
            <div style="margin-bottom: 20px;">{{dadossimulacao.carencia}}</div> 
            <div>Taxa de juros a.a. </div>
            <div style="margin-bottom: 20px;">{{dadossimulacao.taxa}}</div> 
        </div> 
       
        <div style="margin-bottom: 30px;">
            <input type='submit' value="SIMULA" class="btn btn-success">
        </div>
    </center> 
    </form>
    
{% endblock %}